.create-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;

    form {
        width: 70%
    }

    h1 {
        margin-bottom: 2rem;
    }

    .btn-form {
        display: flex;
        justify-content: flex-end;

        .btn-question {
            font-size: 1.2rem;
            margin: 2rem 0;
        }
    }

    input {
        color: $dark-blue;
        font-size: 1.2rem;
    }
}