.content {
    display: flex;
    justify-content: center;

    .create-question {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 49%;
        height: 100%;
    
        form {
            width: 70%
        }
    
        h1 {
            text-align: center;
            margin-bottom: 2rem;

        }
        
        h1.test {
            font-size: 1.5rem;
        }

        input {
            color: $dark-blue;
            font-size: 1.2rem;
        }
    
        hr {
            color: white;
            height: 1rem;
        }
    
        .form-check-label {
            font-size: 1.2rem;
        }
    
        .btn-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
    
            .btn-question {
                font-size: 1.2rem;
                padding: 0.8rem;
                margin: 1rem;
            }
        }
    }

    .separator {
        width: 2%;

        hr {
            width: 2px;
            background-color: white;
            height: 90%;
        }
    }
    
    .preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 49%;

        h1 {
            text-align: center;
            margin-bottom: 1rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        hr {
            height: 1px;
            background-color: white;
            width: 80%;
            margin: 2rem;
        }
    
        p { 
            text-align: center;
            color: white;
            font-size: 1.2rem;
            margin-bottom: 2rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .content-scroll {
            width: 80%;
            border: solid 2px white;
            padding: 1rem;
            border-radius: 20px;
            height: 600px;

            .scroll {
                width: 100%;
                height: 100%;
                overflow: scroll;
    
                ul {
                    text-align: left;
                    width: 100%;
            
                    .question {
                        font-size: 1.3rem;
                        color: white;
                        border: 2px solid white;
                        border-radius: 10px;
                        padding: 1rem;
                        width: 90%;
            
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
            
                    .reponse {
                        margin-left: 3rem;
                        font-size: 1.3rem;
                        color : white;
                        padding: 1rem 0;
        
                        input {
                            margin: 0.5rem;
                        }
                    }
                }
            }
        }

        .scroll::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        .scroll::-webkit-scrollbar:vertical {
            width: 11px;
        }
        
        .scroll::-webkit-scrollbar:horizontal {
            height: 11px;
        }
        
        .scroll::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 2px solid white; /* should match background, can't be transparent */
            background-color: rgba(0, 0, 0, .5);
        }

        .btn-form {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
    
            .btn-question {
                font-size: 1.2rem;
                padding: 0.8rem 2rem;
                margin: 1rem;
            }
        }
    }
}