.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../images/board.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        color: $blue;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5rem;
        color: white;
        margin: 1rem;
    }

    .btn-creation {
        border: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 40%;
        height: 5rem;
        margin: 4rem;
        background-color: $blue;

        &:hover {
            transition: 0.5s;
            background-color: white;
            color: $blue;
        }
    }
}