.bloc-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        margin: 3rem;
    }

    .list-quiz {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        width: 50%;

        .list {
            width: 100%;

            div {
                margin: 1rem;
            }

            p {
                font-size: 1.2rem;
                font-weight: bold;
                margin: 0.5rem;
            }

            a {
                font-size: 1.5rem;
                text-decoration: none;
                margin: 0.5rem;
            }
        }
    }

    .btn-create {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}