h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
}


h2 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
}

body {
    background-image: url(../images/board.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

label  {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; 
}

.alert {
    top: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.alert-success {
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
    background-color: #5cb85c;
}

@keyframes seconds {
    0% {
      opacity: 1;
      
    }
    100% {
        opacity: 0;
      }
}