{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    {{ form_start(formQuiz) }}
    
    <div class="form-group">
        <label for="">Titre :</label>
        {{ form_widget(formQuiz.titre)}}
    </div>

    <div class="form-group">
        <label for="">Description :</label>
        {{ form_widget(formQuiz.description)}}
    </div>


    {{ form_end(formQuiz) }}
{% endblock %}
