{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="bloc-list">
        <h1>Quelle question voulez-vous modifier ?</h1>
        <div class="list-quiz">
            <ul class="list-group list">
                {% if quiz.questions is empty %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p>Aucune question dans le quiz</p>
                    </li>
                {% else %}
                    {% for question in quiz.questions %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p>{{question.texte}}</p><br>
                            <div>
                                <a href="/edit_question/{{question.id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="/remove_question/{{question.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <a href="/create_question/{{quiz.id}}"><button class="btn btn-success btn-create">Ajouter une question</button></a>
        </div>
    </div>
{% endblock %}
