{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="display-quiz">
        <h1> {{ quiz.titre }} </h1>
        <p>  {{ quiz.description }} </p>

        <ul>
            {% for question in quiz.questions %}
            <li class="question"> {{question.texte}} </li>
            <br>
                <ul>
                    {% for reponse in question.reponses %}
                        <li class="reponse">• {{ reponse.texte }} </li>
                    {% endfor %}
                </ul>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
