{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    {% for quiz in quiz_list %}
        <a href="quiz/{{quiz.id}}">{{quiz.titre}}</a>

        {% endfor %}
{% endblock %}
