{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'search_quiz'
    } %}
{% endblock %}

{% block main_content %}
    <div class="intro">
        <h1>Entrez le code de partage d'un quiz pour commencer</h1>
            <div class="search-container">
            <form action="/search" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Entrez le code du quiz.." name="id_quiz" class="form-control">
                    <button type="submit" class="btn btn-success btn-create">Répondre au Quiz</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
