<ul class="navbar-nav mr-auto">
    {% for link in main_menu %}
        <li class="nav-item">
            <a href="{{ url(link.route) }}" class="nav-link" {% if link.route == active %}class="active"{% endif %}>
                {{ link.label | trans }}
            </a>
        </li>
    {% endfor %}
</ul>