<ul class="navbar-nav mr-auto">
    {% for link in main_menu %}
        <li class="nav-item">
            <a href="{{ url(link.route) }}" class="nav-link" {% if link.route == active %}class="active"{% endif %}>
                {{ link.label | trans }}
            </a>
        </li>
    {% endfor %}
    <li class="nav-item">
        {% if not app.user %}
            <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
        {% else %}
            <a href="{{ path('security_logout') }}" class="nav-link">Deconnexion</a>
        {% endif %}
    </li>
</ul>