{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('build/images/Urne.png') }}" alt="">
            </a>
            <h2>MULTIQUIZ</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block menu %}{% endblock %}
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>
        {% block main_content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer>

    </footer>
{% endblock %}
