{% extends 'layout.html.twig' %}

{% block menu %}
    {% include "_menu.html.twig" with {
        'active': 'home'
    } %}
{% endblock %}

{% block main_content %}
    <div class="container-error">
        <h1>{{ status_code }}</h1>
        <h2>{{ status_text }}</h2>
        <p>Il semblerait qu'une erreur soit survenue lors de l'accès à cette page.</p>
        <button type="submit" class="btn btn-success btn-creation">Retourner vers la page d'accueil</button>
    </div>
{% endblock %}